.header {
    display: flex;
    width: auto;
    height: 58px;
    background-color:  #fff159;
    justify-content: space-around;
  
    .logo{
      margin-top: 5px;
      height: 50px;
      width: 220px;
      cursor: pointer;
    }
  
    .div-search-bar{
      box-shadow: 2px 2px #B0B0B0;
      height: 35px;
      width: 700px;
      margin-top: 5px;
      background-color: white;
      display: flex;

      .search-icon{
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
      }
  
      .search-bar{
        height: 30px;
        width: 650px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
  
        &:focus {
          outline:none;
      }
      }
    }
  
  }